/*
 Styles
  for the page of the
  contacts
*/

h1 {
  color: #aaa;
  font-weight: lighter;
  text-align: center;
}


/* View for the contacts */

.view-contacts {
  width: 90%;
  margin: 4rem auto 8rem auto;
}


/* Contact */

.contact {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem;
  border-radius: .4rem;
  margin-bottom: 4rem;
  color: #aaa;
}

.contact h3 {
  margin-bottom: 2rem;
  font-weight: lighter;
  font-size: 1.4rem;
}

.contact p {
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  h1 {
    margin-left: 1rem;
  }
  .view-contacts {
    width: 90%;
  }
}