/* Styles for the login page */


h1 {
  color: #aaa;
  font-weight: lighter;
  text-align: center;
}

.card {
  width: 50%;
  margin: 3rem auto 0 auto;
  padding: 2rem;
}

.card label {
  color: #888;
  font-size: 1.1rem;
  margin: 2rem 3rem 4rem 5rem;
}

.card input {
  padding: .3rem;
}

.card #password {
  margin-left: .5rem;

}

.card hr {
  width: 60%;
  margin: 1.3rem 0 1.3rem 5rem;
}

.card button {
  display: block;
  padding: .6rem;
  background-color: #ddddff;
  transition: background-color .3s ease;
  border-radius: .3rem;
  width: 60%;
  margin: 3rem 5rem;
  border-style: none;
}

.card button:hover {
  cursor: pointer;
  background-color: #ddddaa;
}


.card .links {
  margin-left: 7rem;
}

.card .links p {
  color: #aaa;
}

.card .links p a {
  color: #888;
}


/* 700 pixels */
@media (max-width: 700px) {
  .card {
    text-align: center;
  }

  .card label {
    display: block;
    margin: 0 auto 1rem auto;
  }

  .card hr {
    width: 90%;
    margin-left: 1rem;
  }

  .card input {
    display: block;
    margin: auto;
  }

  .card #password {
    margin: auto;
  }

  .card button {
    margin: 3rem auto;
  }

  .card .links {
    margin: auto;
  }
  
}

/* 500 pixels */
@media(max-width: 500px) {
  .card {
    width: 100%;
    padding: 1rem;
  }

  .card label {
    margin: 0 auto 1rem auto;
  }

  .card input {
    margin: auto;
  }

  .card #password {
    margin: auto;
  }


  .card hr {
    width: 50%;
    margin: 1.3rem auto;
  }

  .card button {
    width: 60%;
    margin: 3rem auto;
  }

   .card .links {
    margin: 0 auto;
    text-align: center;

  }

}
