/* 
  Styles for the
  blog 
*/


html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #232323; */
  background: url('../img/backgrounds/background-image.jpg') no-repeat;
  background-size: cover;
}

/* NAV */
.nav {
  padding: 2rem;
  background-color: #ddd;
}

.nav .navbar-left li , .nav .navbar-right li {
  list-style: none;
}

.nav .navbar-left li a {
  font-size: 1.8rem;
  font-weight: lighter;
}

.nav .navbar-left li a i {
margin-left: 1rem;
}

.nav .navbar-left li hr /* line no show */ {
  display: none;

}

.nav .navbar-left li a,
.nav .navbar-right li a {
  color: #222;
  text-decoration: none;
  transition: color .3s ease;
}

.nav .navbar-left {
  padding-left: 0;
  display: inline-block;
}

.nav .navbar-right {
  padding-left: 0;
  display: inline-block;
  margin-left: 30%;
}

.nav .navbar-left li {
  margin: 0 0 0 1rem;
}

.nav .navbar-right li a {
  padding: .5rem;
}

.nav .navbar-left li a:hover,
.nav .navbar-right li a:hover {
  color: #555;
}


/* Container */
.container {
  width: 80%;
  margin: 5rem auto 8rem auto;
}

/* Posts */
.post {
  background-color: #424242;
  padding: 2rem;
  border: solid 0px #000;
  border-radius: .5rem;
  margin: 4rem 0 5rem 0;
  transition: box-shadow .3s ease;
}

.post:hover {
  box-shadow: .4rem .4rem rgba(0, 0, 0, 0.2);
}

.title-post {
  color: #bbb;
  font-weight: lighter;
}


.description {
  font-size: 1.1rem;
  color: #aaa;
  margin: 2rem 0;
  text-align: left;
}

.image {
  width: 100%;
  margin: 3rem 0;

}

.post label,
.post textarea {
  display: block;
}

.post label {
  margin-bottom: 1rem;
  color: #aaa;
}

.post textarea {
  margin-bottom: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons-view {
  margin-bottom: 3rem;
}

.btn {
  padding: .6rem;
  width: 43%;
  background-color: #bbbbff;
  border-style: none;
  border-radius: .4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: box-shadow .3s ease;
  display: block;
  text-decoration: none;
  margin-bottom: 1.5rem;
  color: #222;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: .4rem .4rem rgba(0, 0, 0, 0.3);
}

.go-post /* go to a post */ {
  color: #999;
}

.post p {
  color: #aaa;
  font-size: 1rem;
}

.commentaries {
  border-radius: .5rem;
  background-color: #555;
  padding: 1rem;
}

.commentaries hr {
  margin: 0 0 2.1rem 0;
}

/* Footer */
footer {
  padding: .1rem;
  background-color: #111;
}

footer p {
  text-align: center;
  color: #aaa;
  margin-bottom: 2rem;
}

footer .links {
  color: #eee;
  width: 10%;
  margin: 0 auto 1rem auto;
}

footer .links a {
  display: inline-block;
  text-decoration: none;
  color: #eee;
  font-size: 2rem;
  padding: 0 .8rem;
}


/* 1200 pixels */
@media(max-width: 1200px) {
  .nav .navbar-left li {
    margin-bottom: 2rem;

  }

  .nav .navbar-left,
  .nav .navbar-right {
    display: block;
  }

  .nav .navbar-left li {
    margin-left: .5rem;
  }

  .nav .navbar-right {
    margin-left: auto;
  }

  .btn {
    width: 70%;
  }

  footer .links {
    width: 15%;
  }


}

/* 700 pixels */
@media(max-width: 700px) {
  .nav .navbar-left li {
    margin-bottom: 2rem;

  }

  .nav .navbar-left,
  .nav .navbar-right {
    display: block;
  }

  .nav .navbar-left li {
    margin-left: .5rem;
  }

  .nav .navbar-left li hr /* show line */ {
    display: block;
  }

  .nav .navbar-right {
    margin-left: auto;
  }


  .container {
    margin-top: 3rem;
    width: 90%;
  }

  .btn {
    width: 90%;

  }

  footer .links {
    width: 20%;
  }

}

/* 500 pixels */
@media(max-width: 500px) {
  .nav .navbar-left li hr /* show line */ {
    display: block;
  }

  .nav .navbar-left li a i {
    margin-left: 0;

  }

   .nav .navbar-right li a {
    padding: .5rem;
    display: block;
  }


  .container {
    width: 95%;
  }

  .post {
    padding: 1rem;
  }

  .post textarea {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  footer .links {
    width: 50%;
  }
  
}
