<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog HTML</title>
  <!-- FAVICON -->
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/icons/favicon.ico') }}" type="image/x-icon">
  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <!-- STYLES -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/messages.css') }}">
</head>

<body>

  <!-- CONTAINER -->
  <div class="container">

    {% include 'partials/_messages.html' %}

    <div>
      <h1>Login</h1>
    </div>

    {% include 'partials/_loginForm.html' %}

  </div>

  <!-- SCRIPTS -->
  <script src="{{ url_for('static', filename = 'js/deleteMessage.js') }}"></script>

</body>

</html>