<!-- ABOUT PAGE -->
{% extends 'layout.html' %}

{% block content %}
<!-- OWN STYLE -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/about.css') }}">

<h1>
  About
  <i class="fa-solid fa-circle-info"></i>
</h1>

<div class="card">
  <div>
    <p>Hi, I'am Daniel Yanes, I'm a student programming and this is my blog, where I write about technology issues. <br><br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus libero neque repellendus cupiditate eveniet. Vel perspiciatis velit
      recusandae ipsum ab sunt quidem reprehenderit ad maxime, facilis illo neque deleniti nulla placeat soluta quibusdam distinctio aut accusamus dignissimos dolorum nisi. Repudiandae voluptas veritatis hic tempora quos eius cupiditate, eos iusto maiores.</p>
  </div>
</div>

{% endblock %}