<!-- PAGE FOR THE PROGRAMS -->
{% extends 'layout.html' %}

{% block content %}

<!-- POSTS -->
<section class="posts" id="first-post">
  <div class="post">
    <h2 class="title-post">Vim Editor</h2>
    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat aliquam ad,
      asperiores dignissimos soluta ut minus expedita inventore, earum unde blanditiis eveniet sapiente, eos
      voluptatem quia iste exercitationem dolorum saepe autem sit necessitatibus harum. Ipsa, tempora provident eos
      voluptatum deleniti facilis amet quasi? Recusandae alias ab quo eos voluptatem unde facilis itaque veniam
      eveniet! Dolore voluptatum eveniet, rem sit rerum nisi officiis corporis quae, autem cum, sint eos ipsum!
      Ratione quae tempora id laboriosam error nemo quo, cupiditate, ad magni voluptas quod! Velit mollitia eius
      molestias quam omnis, architecto quis ipsam consequuntur debitis expedita quibusdam doloremque atque incidunt
      odit! Quis aliquid sunt rerum eius eligendi sequi obcaecati qui id recusandae debitis. Sunt vero maxime
      facilis asperiores explicabo eos repellat libero ullam, adipisci ducimus excepturi delectus provident laborum
      placeat similique! Pariatur quidem, enim voluptatem sunt reprehenderit voluptatum iure delectus alias eos
      nostrum ea sint recusandae exercitationem repudiandae dicta aperiam dolorem non! Ex reprehenderit debitis
      fuga. Totam delectus, error molestias possimus est tempore recusandae. Nesciunt libero quis iure illo
      reiciendis, vitae animi quas soluta ea nisi quod mollitia, eveniet ullam asperiores numquam officiis hic quam
      quaerat facilis quo fugiat beatae excepturi provident. Consectetur qui, deserunt inventore, pariatur et ut
      necessitatibus mollitia optio doloribus tempore, id natus sit reiciendis eligendi quis aut veritatis unde
      porro magnam eos aliquid ad similique nam minus! Quas ullam harum quo quibusdam dicta ducimus distinctio
      voluptatibus delectus dolore cupiditate quos, dolorem dignissimos dolorum expedita cumque perspiciatis atque
      nobis animi odio ex blanditiis nisi aut commodi. Ipsum, atque similique quisquam error consequuntur sit. Amet
      hic voluptas esse sint corrupti dignissimos? Eligendi repellendus dolor veritatis quam numquam, sint voluptas
      ex eveniet porro! Inventore optio enim similique praesentium, aspernatur ipsa laboriosam at fuga aperiam
      nesciunt officia sunt voluptas eveniet? Aspernatur, suscipit excepturi animi ab fugiat et repellendus vel
      officia beatae!
    </p>


    <img src="{{ url_for('static', filename = 'img/programs/vim-image.jpg') }}" alt="vim-image" class="image">

    <label for="comentary">Comentary</label>

    <textarea id="comentary" cols="50" rows="10"></textarea>

    <div class="buttons-view">
      <button class="btn">
        Comment
      </button>

      <a href="#last-post" class="go-post">Go to last post</a>

    </div>

    <p>Comentaries</p>

    <!-- COMENTARIES -->
    <section class="commentaries">
    </section>

  </div>

  <div class="post">
    <h2 class="title-post">Visual Studio Code</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rem cupiditate aperiam
      soluta earum voluptas eveniet iste culpa, ullam illo quos atque. Ullam tempora itaque nihil repudiandae quis,
      dolor odit vero deserunt velit consectetur odio assumenda libero consequatur doloremque eius commodi harum
      impedit magni maxime expedita, laborum cupiditate a iusto obcaecati? Obcaecati dolorum ipsum qui optio cum
      vitae numquam dolorem possimus eum sequi excepturi maxime beatae aliquid hic ducimus a dicta ea quos, sapiente
      fugit libero illo incidunt. Necessitatibus, nesciunt consectetur earum culpa deleniti eius totam nihil numquam
      corrupti rerum error vel officiis pariatur provident, molestiae omnis magnam voluptatem rem.</p>


    <img src="{{ url_for('static', filename = 'img/programs/vscode-image.png') }}" alt="vscode-image" class="image">

    <label for="comentary">Comentary</label>

    <textarea id="comentary" cols="50" rows="10"></textarea>

    <div class="buttons-view">
      <button class="btn">
        Comment
      </button>

      

    </div>

    <p>Comentaries</p>

    <!-- COMENTARIES -->
    <section class="commentaries">
    </section>

  </div>

  <div class="post">
    <h2 class="title-post">Putty</h2>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo pariatur quas molestias ipsa quibusdam
      exercitationem atque asperiores. Odio sit saepe consequuntur recusandae, magni porro perferendis dolorum
      consectetur quasi magnam atque quo voluptate eveniet cum. Fugit deleniti recusandae non quisquam accusamus
      obcaecati totam sint animi doloribus in voluptates delectus adipisci, architecto dolore facilis provident error.
      Omnis perferendis distinctio eos adipisci debitis?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita consequatur ut libero quasi omnis
      corrupti, deleniti quia eligendi asperiores modi quibusdam commodi ipsum ducimus voluptas temporibus laboriosam
      tenetur impedit veniam numquam ab, dicta dolores nihil? Nesciunt molestiae hic omnis itaque exercitationem sed
      ut voluptas magni, incidunt tenetur eos sunt!
    </p>


    <img src="{{ url_for('static', filename = 'img/programs/putty-image.jpg') }}" alt="putty-image" class="image">

    <label for="comentary">Comentary</label>

    <textarea id="comentary" cols="50" rows="10"></textarea>

    <div class="buttons-view">
      <button class="btn">
        Comment
      </button>

    </div>

    <p>Comentaries</p>

    <!-- COMENTARIES -->
    <section class="commentaries">
    </section>

  </div>

  <div class="post" id="last-post">
    <h2 class="title-post">Balena Etcher</h2>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo pariatur quas molestias ipsa quibusdam
      exercitationem atque asperiores. Odio sit saepe consequuntur recusandae, magni porro perferendis dolorum
      consectetur quasi magnam atque quo voluptate eveniet cum. Fugit deleniti recusandae non quisquam accusamus
      obcaecati totam sint animi doloribus in voluptates delectus adipisci, architecto dolore facilis provident error.
      Omnis perferendis distinctio eos adipisci debitis?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita consequatur ut libero quasi omnis
      corrupti, deleniti quia eligendi asperiores modi quibusdam commodi ipsum ducimus voluptas temporibus laboriosam
      tenetur impedit veniam numquam ab, dicta dolores nihil? Nesciunt molestiae hic omnis itaque exercitationem sed
      ut voluptas magni, incidunt tenetur eos sunt!
    </p>


    <img src="{{ url_for('static', filename = 'img/programs/balenaetcher-image.png') }}" alt="balenaetcher-image" class="image">

    <label for="comentary">Comentary</label>

    <textarea id="comentary" cols="50" rows="10"></textarea>

    <div class="buttons-view">
      <button class="btn">
        Comment
      </button>

      <a class="go-post" href="#first-post">Go to first post</a>

    </div>

    <p>Comentaries</p>

    <!-- COMENTARIES -->
    <section class="commentaries">
    </section>

  </div>

</section>
{% endblock %}
